* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(230, 231, 231);
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
#button1, #button2 {
    padding: 20px;
    margin: 20px 10px 0 20px;
    background-color: #cac4ff;
    border-radius: 10px;
    outline: none;
}
.customers-con {
    margin-left: 20%;
}
.customer-con {
    float: right;
    margin-right: 20%;
}

#customers ul, #customer ul {
    color: blue;
    padding: 20px 0px 10px 0px;
}